/* font-family: 'Forum', cursive; */
/* font-family: 'Bellefair', serif; */

.navbar{
    /* font-family: 'Forum', cursive; */
    font-family: 'Bellefair', serif;
    color: white;
}

.navbar-brand{
    font-size: 36px;
}

.nav-item{
    font-size: 20px;
}

#nav-logo{
    margin-right: 10px;
}